.result-content {
  ion-card-subtitle,
  ion-text,
  ul > li {
    color: #1c1c1c;
  }
  ion-card {
    --background: #ffffff;
    box-shadow: none;
    border-bottom: 1px solid;
    border-left: 5px solid #2765cf;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  ion-card-title {
    --color: #2765cf;
  }
  ion-button {
    --color: #1c1c1c;
  }
  ion-button.saved {
    --color: #e60278;
  }
}
